{% extends "base.html.twig" %}


{% block main %}
    <h1>
        Insertion d'exercice
    </h1>

    {{  form_start(form, {'attr': {'class': 'container'}}) }}
    <section>


        {{ form(form) }}


    </section>
    {{  form_end(form) }}


{% endblock %}











































































































