/* Classe générale a tous mes fichiers */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #0c2835;
}

.adminlink{
    background-color: #B0413E;
    width: 15%;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    margin: 10px 10px;
}

.adminlink:hover{
    background-color: #b42912;
}

a:hover{
    text-decoration: underline;
}

.width-33{
    width: 33%;
}


.width-50{
    width: 50%;
}

.width-90{
    width: 90%;
}


.center{
    margin: auto;
}




.text-center{
    text-align: center;
}
.milieu{
    align-self: center;
}
.flex{
    display: flex;
}

.flexblock{
    display: block;
}


.resp{
    width: 100%;
    height: auto;
}
.flexnone{
    display: none;
}
.center{
    margin: auto;
}
.name{
    color: white;
    font-size: 20px;
    text-align: center;
}



.wrap{
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.path{
    color: #0c2835;
}

.path::first-letter{
    text-transform: uppercase;
}

/*Burger menu*/

.menuburger {
    position: fixed;
    top:0px;
    right:0px;
    background-color:#000033;
    height:80px;
    width:80px;
    margin: 15px;
    cursor:pointer;
    transition:0.3s;
    z-index:100;
}

.menuburger span {
    position:absolute;
    height:3px;
    width:50px;
    background-color: #e63a2b;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition:0.3s;
}

.menuburger span:before {
    content:'';
    position:absolute;
    top:-15px;
    background-color:#e63a2b;
    height:3px;
    width:50px;
    transition:0.3s;
}

.menuburger span:after {
    content:'';
    position:absolute;
    top:15px;
    background-color:#e63a2b;
    height:3px;
    width:50px;
    transition:0.3s;
}

.menuburger.active span {
    background-color:transparent;
}

.menuburger.active span:before {
    transform: rotate(45deg);top:0;
}

.menuburger.active span:after {
    transform: rotate(-45deg);top:0;
}

.navheader {
    background-color: #000033;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 80%;
    height: 100vh;
    display: none;
    transform: translateX(100%);
    transition: 0.5s;
}

.navheader.active {
    display: block;
    transform: translateX(0);
    transition: 0.5s;
}


.navheader .listenavigation {
    padding: 0;
    margin: 0;
    text-align: left;
}

.listenavigation li {
    display: flex;
    flex-direction: column;
}

.listenavigation li a {
    background-color :#000033 ;
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}

.listenavigation li a:hover {
    background-color: #e63a2b;
    color: #000033 ;
    transition: 0.5s;
}


/* Header */

.panier{
    width: 10%;
    height: 20px;
    z-index: 200;
}
.panier a{
    color: white;
    text-align: center;
}

header{
    background-color: #000033 ;
}

.Homeimg{
    width: 100%;
    display: block;
}

.Homevideo{
    display: none;
}

.articleTitle{
    font-size: 18px;
}

@media screen and (min-width: 992px) {
    .logout{
        font-size: 20px;
    }
    .flexnone{
        display: flex;
    }



    .menuburger{
        display: none;
    }

    .flexblock{
        display: flex;
    }
    .navheader{
        display: none;
    }

    .navheader.active{
        display: none;
    }
    .listenavigation{
        display: none;
    }

    .myHeaderlink{
        width: 60%;
        flex-direction: column;
        justify-content: flex-end;
    }

    .myHeaderList {
        display: flex;
        justify-content: center;
    }

    .myHeaderList li{
        margin: 20px;
        font-size: 20px;
    }

    .panier{
        margin-top: 10px;
        width: 5%;
        text-align: center;
    }


    .login{
        width: 8%;
        margin: 35px 10px;
    }

    .connection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Homeimg{
        display: none;
    }

    .Homevideo{
        display: block;
    }
}


.lienHeader{
    color:#e63a2b;
    font-family: Arial;
    font-weight: 600;
}
.logout{
    border: black 1px solid;
    border-radius: 50px;
    padding: 2px;
    margin: 0 auto;
    background-color: red;
    color: black;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.logo{
  
    width: 20%;
    margin: auto;
}

@media screen and (min-width: 1100px) {
    .logo {
        width: 13%;
    }
}
.navigation{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



/* Footer */
footer{
    margin-top: 20px;
    padding: 5px 0 5px;
    background-color: #000033;

}

.footcontain{
    justify-content: space-between;
}

.mediafooter{
    justify-content: center;
}

.foottitle{
    font-size: 12px;
}
.SocialPicture{
    width: 10%;
    margin: 5px;
}

.footnav{
    width: 10%;
}
/* Main*/
/*BTN delete*/
.titre{
    font-size: 20px;
    margin: 10px;
}

.monblock{
    background-color: grey;
    padding: 5px;
    color: white;
}

.delete{
    background-color: red;
    padding: 3px;
    border-radius: 50px;
    color: black;
}

/* Main HomePage*/
.video{
    height: 90vh;
}
.articleHome{
    width: 90%;
}

.unarticle{
    width: 90%;
   margin: 30px;
}
.exercice{
    width: 90%;
}

.unelement{
    width: 90%;
    margin: auto;
}

/* page qui suisje */
.coachpicture{
    width: 40%;
}

@media screen and (min-width: 992px){
    .unarticle{
        width: 33%;
        margin: 30px 0 30px;
    }
    .progPicture{
        width: 50%;
    }
    .titre{
        font-size: 40px;
        margin: 20px;
    }
    .articleTitle{
        font-size: 30px;
    }
    .articleHome{
        padding: 50px;
    }
    .exercice{
        width: 50%;
        padding: 20px;
    }
    .unelement{
        width: 50%;
    }
    .coachpicture{
        width: 20%;
    }
}

.formlogin{
    height: 100vh;
}

.displayform{
    flex-direction: column;
    justify-content: space-around;
}
.boutton{
    margin: 20px;
    width: 15%;
    padding: 5px;
    color: darkslategray;
}

.boutton:hover{
    text-decoration: underline;

}

/* formulaire article */
.form{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.formBloc{
    margin: 20px;
}

.formTitle{
    width: 50%;
}


.formDescription{
    width: 90%;
    height: 80px;
}
.red{
    color: #2a3cad;
}
.formContent{
    width: 90%;
    height: 500px;
}

.formFile{
    margin: 20px;
}

.submit{
    margin: 20px;
    width: 100px;
    height: 40px;
}

.formPrice{
    width: 15%;
}

.white{
    color: white;
    font-size: 15px;
}