/* Classe générale a tous mes fichiers */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resp{
    width: 100%;
    height: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e63a2b;
}


/* Header */
header{
    width: 100%;

    background-color: #000033 ;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.listenavigation {
    display: flex;
    justify-content: center;
}

.listenavigation li{
    margin: 10px 30px;
    font-size: 20px;
}

.navigation{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logoheader{
    width: 15%;
}

.login{
    width: 8%;
    margin: 35px 10px;
}

.connection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: white;
    font-size: 15px;
    text-align: center;
}


