/* Classe générale a tous mes fichiers */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width-33{
    width: 33%;
}

.width-50{
    width: 50%;
}

.width-90{
    width: 90%;
}
.center{
    margin: auto;
}

.milieu{
    align-self: center;
}

.text-center{
    text-align: center;
}
.resp{
    width: 100%;
    height: auto;
}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* Header */
.panier{
    width: 3%;
    margin-top: 10px;
    text-align: center;
}

.panier>p{
    color: red;
}

header{
    background-color: #000033 ;

}

.navheader{
    flex-direction: column;
    justify-content: flex-end;
}

.listenavigation {
    display: flex;
    justify-content: center;
}

.listenavigation li{
    margin: 10px 30px;
    font-size: 20px;
}

.lienHeader{
    color:#e63a2b;
    font-family: Nunito, SansSerif, Arial;
    font-weight: 600;
}

.logout{
    border: black 1px solid;
    border-radius: 50px;
    background-color: red;
    color: black;
    padding: 1px;
}

.navigation{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15%;
}

.login{
    width: 8%;
    margin: 35px 10px;
}

.connection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: white;
    font-size: 15px;
    text-align: center;
}

/* Footer */
footer{
    margin-top: 20px;
    padding: 5px 0 5px;
    background-color: #AAAAAA;

}

.footcontain{
    justify-content: space-between;
}

.mediafooter{
    justify-content: center;
}

.foottitle{
    font-size: 12px;
}
.SocialPicture{
    width: 5%;
    margin: 5px;
}

.footnav{
    width: 10%;
}

/* Main HomePage*/
.video{
    height: 90vh;
}



/* page qui suisje */
.coachpicture{
    width: 20%;
}