{% extends "base.html.twig" %}


{% block main %}
    <h1>
        Ma liste d'exercice
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('Exercice_Insert') }}">Ajout d'exercice</a>

    {% endif %}
    <section  class="flex width-90 wrap center">
    {% for exercice in exerciceList %}
    <article class="unarticle text-center">
        {% for exercice in exercice.filename %}
        <div>
            <img src="{{ asset("assets/uploads/" ~ exercice.Filename) }}" alt="" class="resp">
        </div>
        {% endfor %}
        <h2><a href="{{ path('Exercice_Show', {'id': exercice.id}) }}">{{ exercice.name|capitalize }}</a></h2>
    </article>
    {% endfor %}
    </section>
{% endblock %}