{% extends "base.html.twig" %}


{% block main %}
    <h1>
{#        <a href="{{ path('Programs_Show'), ('id': program.id) }}">#}
            Ma liste de programme
{#        </a>#}
    </h1>
{% endblock %}