{% extends "base.html.twig" %}


{% block main %}
    <h1>
        Ma liste de programme
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('Program_Insert') }}">Ajout d'un programme</a>
    {% endif %}
    <section  class="flex width-90 wrap center">
        {% for program in programlist %}
            <article class="width-33 text-center">
                <a href="{{ path('Program_Show', {'id': program.id}) }}">
                    <h1>{{ program.Title }}</h1>
                </a>

                {% if program.Filename %}
                    <div>
                        <img src="{{ asset('assets/uploads/' ~ program.Filename.Filename) }}" class="resp">
                    </div>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}