{% extends "base.html.twig" %}


 {% block main %}

     <h1>Qui Somme-Nous ?</h1>

     <section class=" flex width-90 center">
         <div class="width-50 milieu">
             <h2>Mon parcours</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi doloribus esse exercitationem illo illum, incidunt, inventore iste, laboriosam laudantium nulla praesentium quasi quis reprehenderit suscipit vel voluptates! Consectetur distinctio est fugiat labore libero molestias natus nulla optio, quae quam quisquam recusandae, reiciendis repudiandae sequi sint tempora, unde vitae. Aspernatur beatae facere quod? Ab blanditiis commodi consequuntur corporis dolore, ducimus eligendi error esse illo iusto laboriosam magnam magni maxime molestias, nam odit officiis omnis optio porro provident quam quis reprehenderit sapiente tempore vitae! Ad cumque cupiditate, dicta distinctio ducimus, eum excepturi, expedita laboriosam necessitatibus quasi quia quidem ratione rem voluptatem!</p>
         </div>
         <div class="coachpicture center"><img src="{{ asset('assets/img/men.jpg') }}" alt="" class="resp"></div>
     </section>
    <h2>Que puis-je vous apporté a travers ce site</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias aliquam debitis deserunt distinctio fuga harum id, in minus molestiae mollitia nobis numquam officiis omnis perspiciatis porro quam qui recusandae reiciendis sunt unde vel voluptate. Expedita id itaque modi quia, repudiandae saepe? Delectus doloremque dolorum hic, laudantium odit perspiciatis? Ad adipisci alias amet animi autem commodi consequatur dignissimos, exercitationem illo impedit ipsa minus molestias, officia praesentium quidem, quo reprehenderit. A, accusamus alias dicta doloribus dolorum ducimus fugit inventore itaque modi nihil porro reiciendis repudiandae rerum. Autem cupiditate ea earum eius error magnam, necessitatibus? Aspernatur blanditiis commodi cupiditate dolore dolorem doloribus enim est ex exercitationem facere hic inventore ipsa ipsam ipsum, minima nam nesciunt officiis placeat possimus rem reprehenderit rerum, sint sit tempore vel! Architecto deleniti, dolores ea incidunt iusto molestiae officiis perferendis saepe tenetur. Accusamus accusantium, amet asperiores aspernatur autem commodi culpa cum dignissimos dolore dolorum exercitationem facilis id ipsum iusto maxime neque nesciunt, nostrum officiis praesentium provident quas qui quod repudiandae saepe tempora ut velit vero! Aperiam beatae commodi distinctio ducimus esse nam nesciunt non praesentium suscipit unde? Atque beatae cumque incidunt molestiae pariatur possimus rem reprehenderit suscipit tempore. Beatae debitis, veritatis. Aspernatur eius iusto molestias necessitatibus? A consequatur cum excepturi facere incidunt labore laboriosam officia reiciendis similique soluta. Atque consequuntur facere fugit illum laudantium nemo neque quaerat quisquam repellat. Ab accusantium animi atque, aut culpa delectus ducimus ea enim esse et ex exercitationem molestiae molestias nihil nostrum perferendis quae, quam reiciendis rem repellat reprehenderit repudiandae tenetur voluptas?
     </p>
 {% endblock %}