{% extends "base.html.twig" %}


 {% block main %}

     <h1 class="text-center">Qui Somme-Nous ?</h1>

     <section class="flexblock width-90 center">
         <div class="milieu width-50">
             <h2>Je me présente</h2>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis, dolore doloribus eius enim eum fuga ipsum
                 itaque minus nobis quos ratione recusandae repudiandae vel velit veniam vero. Accusamus aliquid architecto autem
                 blanditiis corporis distinctio doloribus eaque eum harum hic illum in ipsa laudantium magni minima minus mollitia
                 nemo nisi nobis nostrum, placeat porro quaerat quasi repellat repudiandae sequi soluta, tempora totam ut voluptatum?
                 A alias cupiditate ipsum nobis nulla placeat porro veniam, voluptas. Adipisci dolore facere harum ipsum modi,
                 nemo tenetur. Consectetur corporis culpa cum ipsa itaque maxime molestiae nihil quasi saepe sit.
                 Adipisci laborum mollitia porro vel! Reprehenderit. </p>
             <h2>Mon parcours</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi doloribus esse exercitationem illo illum, incidunt,
                 inventore iste, laboriosam laudantium nulla praesentium quasi quis reprehenderit suscipit vel voluptates!
                 Consectetur distinctio est fugiat labore libero molestias natus nulla optio, quae quam quisquam recusandae,
                 reiciendis repudiandae sequi sint tempora, unde vitae. Aspernatur beatae facere quod? Ab blanditiis commodi
                 consequuntur corporis dolore, ducimus eligendi error esse illo iusto laboriosam magnam magni maxime molestias,
                 nam odit officiis omnis optio porro provident quam quis reprehenderit sapiente tempore vitae! Ad cumque cupiditate,
                 dicta distinctio ducimus, eum excepturi, expedita laboriosam necessitatibus quasi quia quidem ratione rem voluptatem!</p>
         </div>
         <div class="coachpicture center">
             <img src="{{ asset('assets/img/bras.jpg') }}" alt="" class="resp">
         </div>
     </section>
     <div class="width-90 center">
         <h2>Que puis-je vous apporté a travers ce site</h2>
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis, dolore doloribus eius enim eum fuga ipsum
             itaque minus nobis quos ratione recusandae repudiandae vel velit veniam vero. Accusamus aliquid architecto autem
             blanditiis corporis distinctio doloribus eaque eum harum hic illum in ipsa laudantium magni minima minus mollitia
             nemo nisi nobis nostrum, placeat porro quaerat quasi repellat repudiandae sequi soluta, tempora totam ut voluptatum?
             A alias cupiditate ipsum nobis nulla placeat porro veniam, voluptas. Adipisci dolore facere harum ipsum modi,
             nemo tenetur. Consectetur corporis culpa cum ipsa itaque maxime molestiae nihil quasi saepe sit.
             Adipisci laborum mollitia porro vel! Reprehenderit. </p>
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis, dolore doloribus eius enim eum fuga ipsum
             itaque minus nobis quos ratione recusandae repudiandae vel velit veniam vero. Accusamus aliquid architecto autem
             blanditiis corporis distinctio doloribus eaque eum harum hic illum in ipsa laudantium magni minima minus mollitia
             nemo nisi nobis nostrum, placeat porro quaerat quasi repellat repudiandae sequi soluta, tempora totam ut voluptatum?
             A alias cupiditate ipsum nobis nulla placeat porro veniam, voluptas. Adipisci dolore facere harum ipsum modi,
             nemo tenetur. Consectetur corporis culpa cum ipsa itaque maxime molestiae nihil quasi saepe sit.
             Adipisci laborum mollitia porro vel! Reprehenderit. </p>
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis, dolore doloribus eius enim eum fuga ipsum
             itaque minus nobis quos ratione recusandae repudiandae vel velit veniam vero. Accusamus aliquid architecto autem
             blanditiis corporis distinctio doloribus eaque eum harum hic illum in ipsa laudantium magni minima minus mollitia
             nemo nisi nobis nostrum, placeat porro quaerat quasi repellat repudiandae sequi soluta, tempora totam ut voluptatum?
             A alias cupiditate ipsum nobis nulla placeat porro veniam, voluptas. Adipisci dolore facere harum ipsum modi,
             nemo tenetur. Consectetur corporis culpa cum ipsa itaque maxime molestiae nihil quasi saepe sit.
             Adipisci laborum mollitia porro vel! Reprehenderit. </p>
     </div>

 {% endblock %}